html {
    height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
}
.panel-default {
  background-color:transparent;
}

input[type="checkbox"] {
  cursor: pointer;
}

.info-button {
  cursor: pointer;
}