@CHARSET "ISO-8859-1";

html,body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.juvvoBody {
	background-image: url("../images/background_v2.jpg");
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100% 100%;
	z-index: -1;
	font-family:arial;
}

#container #logo{
	display: block;
	float: left; 
	width: 15%; 
	border: white; 
	position: fixed;
	}

#container{
    display:inline-block; 
    color:#04B2E0;
    width:100%;
}

#container2{
	display:inline-block; 
    color:#04B2E0;
    width:100%;
    bottom:20%;
    margin-top:5%;
}

#button {
	display: inline-block;
	margin-left: 1%;
	margin-top: 1%;
	width: 275px;
	height: 75px;
	background-color: white;
	border: 2px solid #0799CC;
	color: #0799CC;
	font-size: 25px;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: none;
}

#button:hover {
	background-color: #04B2E0;
	color: white;
}

.fa {
	color: #0799CC;
}


form input {
	display: block;
	margin: auto;
	width: 300px;
	height: 50px;
	margin-bottom: 25px;
	border: 2px solid #0799CC;
	border-radius: 5px;
	box-shadow: none;
	padding-left: 5px;
	font-size: 20px;
	color: #1e1e1e;
}

#logo {
 	max-height:100%;
 	margin-left:15px;
 }
 #veg_demo{
 	text-align:center;
 	max-width:100%;
 	margin: auto;
 } 
 .answer{
 	font-size:12px;
 }
 .provQ{
  	display:none;
 }
