@CHARSET "ISO-8859-1";

html,body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.juvvoBody {
	background-image: url("../images/background_v2.jpg");
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100% 100%;
	z-index: -1;
	font-family:arial;
}

#submitButt{
	background-color:white;
	color:#0799CC;
	cursor:pointer;
}

#submitButt:hover {
	background-color: #04B2E0;
	color: white;
}

#resetButt{
	background-color:white;
	color:#0799CC;
	cursor:pointer;
}

#resetButt:hover {
	background-color: #04B2E0;
	color: white;
}

#container #logo{
	display: block;
	float: left; 
	width: 15%; 
	border: white; 
	position: fixed;
	}

#container{
    display:inline-block; 
    color:#04B2E0;
    width:100%;
}

#container2{
	display:inline-block; 
    color:#04B2E0;
    width:100%;
    bottom:20%;
    margin-top:5%;
}


.fa {
	color: #0799CC;
}


form input {
	display: inline;
	margin: auto;
	width: 177px;
	height: 30px;
	margin: 0 0;
	border: 2px solid #0799CC;
	border-radius: 5px;
	box-shadow: none;
	padding-left: 5px;
	font-size: 20px;
	color: #1e1e1e;
}

.checkbox{
	width:20px;
	display: inline;
	border: 2px solid #0799CC;
	border-radius: 5px;
	box-shadow: none;
}

#movementInfo{
	cursor:pointer;
	position:relative;
}

#movementInfo figure{
	display:none;
	position:absolute;
}

#movementInfo:focus figure, #movementInfo:hover figure{
	display:block;
}

form select{
	display: inline;
	margin: auto;
	width: 177px;
	height: 30px;
	margin: 0 0;
	border: 2px solid #0799CC;
	border-radius: 5px;
	box-shadow: none;
	padding-left: 5px;
	font-size: 20px;
	color: #1e1e1e;
	font-size:16px;
}

label{
	margin-left:15px;
}

#logo {
 	max-height:100%;
 	margin-left:15px;
 }
 #veg_demo{
 	text-align:center;
 	max-width:100%;
 	margin: auto;
 } 
 .answer{
 	font-size:12px;
 }
 .provQ{
  	display:none;
 }
 .output{
 	width: 500px; 
 	height:500px; 
 	vertical-align:top; 
 	margin-top:75px; 
 	background-color: rgba(211, 211, 211, 0.2); 
 	border-radius: 15px;
 }
  